---
import Layout from '../../layouts/Layout.astro'
import Navigation from '../../components/Navigation.astro'

export const prerender = false

const { id } = Astro.params
if (!id) throw new Error('ID is required')

let item: {
  id: number
  title: string
}

const response = await fetch(`https://astro-api-test-df45hr.vercel.app/api/items/${id}`)
if (response.status === 404) {
  return new Response(null, {
    status: 404,
    statusText: 'Not found',
  })
}
item = await response.json()
---

<Layout title="Item 1">
  <Navigation />

  <main>
    <h1>{item.title}</h1>
  </main>
</Layout>

<style>
main {
  color: white;
}
</style>
